<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CoMonz Extension : Home</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="/images/logos/logo-colour.png">
    <!-- Font Awesome -->
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Slick slider -->
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">

    <!-- Theme color -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Quicksand|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">

    <link id="switcher" href="/css/theme-color/default-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <!-- Main Style -->

    <!-- Fonts -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <!-- Ajax contact form  -->
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- Open Sans for body and title font -->
    <script type="module" src="/js/blackhole.js"></script>
    <script src="/js/firebase/firebase-app.js"></script>
    <script src="/js/firebase/firebase-database.js"></script>
    <script type="module" src="/js/custom.js"></script>
    <script src="https://kit.fontawesome.com/61d300521c.js" crossorigin="anonymous"></script>




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

    </style>
</head>

<body>

    <main role="main">
        <div class="rangee" style="background: #fc5c5c;">
            <div class="colonne pleine">
                <div id="bh-container">
                    <div id="blackhole" style="z-index: 0;margin-top: 1%;"><canvas width="492" height="492" style="width: 100vw; height: 566px;"></div>
                </div>
                <div id="heart-first"
                    style="justify-self: center;display: flex;margin-top: -2%;justify-content: center;"> <i
                        id="main-icon" class="fas fa-video" aria-hidden="true"></i>
                </div>

            </div>
            <div class="colonne pleine" style="margin-top: 1%;z-index: 2;color: white;">
                <h1>CoMonz<span>.us</span></h1>
                <h3 style="margin: 0;color:white">Commons are Priceless, Value-Added by Your Love !</h3>
                <p>Easily Fund your Favorite Creators or any Type of Digital Work of Arts <br> Tokenize your
                    community on the blockchain </p>
            </div>
            <div class="colonne pleine" style="z-index: 1;color: white;margin-bottom:2%">
                <h4 style="margin-top:4%"><i class="fas fa-rocket" aria-hidden="true" style="padding: 0 0.41vw;"></i>BETA
                    LAUNCHED!</h4>
                <form id='buttonWithText' onSubmit={this.onSubmit}>
                    <p id="notemail"></p>
                    <div id='slider' class='collapsed'>
                        <input type='button' id='toggle' value='Count me in!'>
                        <input type='text' id='input' tabindex='-1' placeholder='excitedtester@email.us' size=10>
                        <button type='submit' id='ok' tabindex='-1' value='ok'><i class="fas fa-arrow-right"
                                aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="rangee">
            <div class="colonne pleine">
                <div class="mu-title-area">
                    <h2 class="mu-title">THE COMONZ SPIRIT</h2>
                    <span class="mu-title-dot"></span>
                    <p>The web is full of <strong>free contents that counts</strong> ! Wouldn't it be fair
                        to offer support to all of these creators drawing the internets
                        every day? We provide a <strong>donation-based system</strong> that let you
                        retribute them in a fair and personalized way.
                        <br>
                    </p>
                </div>
            </div>
            <div class="colonne demi">
                <div class="media">
                    <div class="media-left">
                        <button class="btn mu-feature-btn" type="button">
                            <i class="fas fa-balance-scale" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Evenly distributed</h3>
                        <p>We'll retribute each creator you've supported monthly. Each of
                            them will be given an
                            <strong>equal part</strong> of your whole wallet. And you will
                            never be charged more than you wanted to give in the first place.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <button class="btn mu-feature-btn" type="button">
                            <i class="fas fa-ghost" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Painless Support</h3>
                        <p>Just watch, read, listen, thrill, laugh and share the internets
                            <strong>as you would always do</strong>.
                            Set your minimal duration you need to value one's creations.
                            Passed that time,
                            we will automatically secure a fraction of your wallet to the
                            corresponding creator </p>
                    </div>
                </div>
            </div>
            <div class="colonne demi">
                <div class="media">
                    <div class="media-left">
                        <button class="btn mu-feature-btn" type="button">
                            <i class="fas fa-feather-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Mini fees, Maxi retribution</h3>
                        <p>Tired of giving half your money to big platforms, or selling
                            your souls while watching retargeted ads? We take a
                            <strong>minimistic 5%-fee</strong>.. just for our dev's to
                            eat and pay their bills. Everything else go
                            directly in your favorite creators' pockets.
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <button class="btn mu-feature-btn" type="button">
                            <i class="fab fa-bitcoin" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Valued on the blockchain</h3>
                        <p> You thought your action has no value? Thanks to the power of
                            the blockchain, we <strong>turn every avatar into an
                                Non-Fungible Token</strong> (NFT). Your retributions, patronnages, your community
                            and your interactions are all
                            contain in a token that will be yours forever to
                            share, exchange or sell. </p>
                    </div>
                </div>


            </div>
            <div id="logo-container">
                <img class="rotating" style="max-height:max-content" src="/images/logos/logo-colour.svg" alt="">

            </div>
        </div>
        <div class="rangee" style="background-color: #545454;">
            <div class="colonne">
                <div class="mu-title-area">
                    <h2 class="mu-title" style="color: white;">HOW IT LOOKS</h2>
                    <span class="mu-title-dot"></span>
                    <p style="color: white;">A "Profile" tab for your general information, a "Wallet" tab
                        concerning your wallet configuration and a "Creator" tab for those who want to get
                        supported through the system. We just provide <strong>minimalistic, flexible and
                            efficient</strong> tool to fund your favorite creators.</p>
                </div>
            <div class="rangee">
                <div class="colonne"> <img class="thumbnails" src="/images/screenshot/profile.png" alt="Extension screenshot img">
                    <p class="legend">Profile Tab</p></div>
                <div class="colonne"> <img class="thumbnails" src="/images/screenshot/wallet-fill.png" alt="Extension screenshot img">
                    <p class="legend">Wallet tab</p></div>
                <div class="colonne"> <img class="thumbnails" src="/images/screenshot/author-tab.png" alt="Extension screenshot img">
                    <p class="legend">Author tab</p></div>
                <div class="colonne">  <img class="thumbnails"src="/images/screenshot/empty-comm.png" alt="Extension screenshot img">
                    <p class="legend">No Comment</p></div>
                <div class="colonne">  <img class="thumbnails"src="/images/screenshot/oncontent-comm.png" alt="Extension screenshot img">
                    <p class="legend">Comment</p></div>
            </div>
        </div>

        </div>
        <div class="rangee">
            <div class="colonne"></div>
        </div>
        <div class="rangee">
            <div class="colonne"></div>
        </div>
        <div class="rangee">
            <div class="colonne"></div>
        </div>

    </main>